.container {
    max-width: 1240px;
    margin: 0 auto;
    height: 100%;
}

.header {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.623);
    box-shadow: 10px 10px 10px black;
}

body {
    background-image: url("../img/cosmos.jpg");
    font-family: 'Nunito', sans-serif;
    color: white;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
}

h2 {
    font-family: 'Russo One', sans-serif;
}

.parallax {
    background-image: url("../img/cosmos.jpg");
    background-attachment: fixed;
    position: relative;
}

.parallax main {
    z-index: 3;
}

header, main {
    z-index: 100;
}

code {
    color: white;
}